<ion-header>
  <ion-navbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="boton1()">
    Incrementa contador
  </button>
  <p>{{contador}}</p>

  <button ion-button block [navPush]="paginaLista">
    Abrir lista dinámica
  </button>

  <button ion-button block (click)="boton3()">
    Mensaje Toast
  </button>

  <button *ngIf="mostrarB4" ion-button block >
    Cuaro botón
  </button>

  <button ion-button block *ngIf="contador%2==0" (click)="boton5()">
    Quinto botón
  </button>
</ion-content>
